#deletecolor {
    color: red;
}
a {
    text-decoration: none;
    color: #F1C40F;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg0BEx87uBOa0-Z6d-3kj1f_eGIdECD1vOHPRG4Boppg4QeSNS")
}
.eat {
text-align: center;
}